@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}

.header{
    /* border: 2px solid black; */
    /* background-color: #2779a7; */
    background-color: #001233;
    padding: 0 4.8rem;
    height: 5rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    font-size: 20px;
    color: #CAC0B3;
    

}
.name{
  font-weight: normal;
}
 

.menu-list{
    display: flex;
    gap: 4rem;
    list-style: none;
}
.nav-link:link,
.nav-link:visited{
    display: inline-block;
    text-decoration: none;
   

}
a{
    color: #CAC0B3;
}
.nav-link:hover,
.nav-link:active{
    color: black;
}
.menu-btn{
    display: none;
    cursor: pointer;
}

.icon{
    width: 2rem;
    height: 4rem;
    color: #CAC0B3;
    height: 5rem;
    width: 4rem;
}

.icon[name="close-circle-outline"]{
display: none;

}

 @media(max-width:900px){
    .menu-btn{
        display: block;
        z-index: 999;
         
         
    }
    .header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    }
    .navbar{
        /* display: none; */
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left:0;
        background-color: #001233;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 45px;

        /* transform: translateX(100%);
        transition: all 0.5s linear; */

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .icon{
        width: 5rem;
    }
    .menu-list{
        flex-direction: column;
        align-items: center;
    }

    .active .navbar{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .active .menu-btn .icon[name="close-circle-outline"]{
        display: block;
    }

    .active .menu-btn .icon[name="menu-outline"]{
        display: none;
    }
 }

 /* ---------------------------About Section---------------------- */
 .section-main{
   /* border: 1px solid rgb(131, 93, 93); */
   padding: 9.6rem 0;
   background-color: #CAC0B3;         /*/#323232; (#FF595A*/
   display: flex;
   justify-content:space-evenly ;
   align-items: center;

  
 }
.img{
    margin-bottom: 15%;
    width: 65%;
    border-radius: 50%;
    
    
    
}
.self{
    /* border: 2px solid red; */
    text-align: center;
    padding-top: 55px ;
    padding-bottom: 55px;
    font-size: 25px;
    line-height: 3rem;
    
    
    
}
.btnResume{
    margin-top: 15px;
}

.text-abt-me{
    text-align: center;
    padding: 5rem;
}


/*----------------- Skill Section ------------------ */

.tskill{
    text-align: center;
    padding: 10px;
    padding-top: 35px;

}
.skill{
    padding: top 55px; 
    

}
.skill>div>img{
   height: 80px;
   width: 80px;
   border-radius: 8px;
   padding: 10px;
}

.icons{
    display: flex;
    justify-content: center;
    gap: 35px;
    margin: auto;
}
/* .skill>div>img:hover{
    background-color: black;
} */


.projectlayout{
    max-width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-block: 2rem;
    align-items: center;
    flex-wrap: wrap;
    
    /* border: 1px solid red; */
}

.images{
    max-width: 100%;
    display: block;
    object-fit: cover;
}
.project{
    display: flex;
    flex-direction: column;
    width: 30%;
    overflow: hidden;
    padding: 10px;
    /* border: 1px solid blueviolet; */

}

.name_proj {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.tech-stack{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    
}

.btns{
    
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    
}

.contact-section{
    /* border: 1px solid red; */
    width: 100%;
    text-align: center;
    padding: 1rem;
    
    
}
.tittle{
    padding: 1rem;
    text-align: center;
    

}
.details{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}